//Font-family
$font-family-header: cursive;
$font-family-paragraph: cursive;
//Button
$button-background-color: rgb(246, 61, 28);
$button-font-color: rgba(255, 255, 255, 0.979);
$button-updated-green: rgb(11, 193, 11);

//Carousel
$color-primary: #000000;
$color-background-hover: #e481b9;
$color-hover: #ffff;


//--------------NavBar-----------------//

$--mainColor: #29335C;
$--mainColorLight: #5767aa;
$--secenderyColor: #DB2B39;
$--textColor: gray;

  // ----------socialLinks colors------------ //
  $twitter-color: #1da1f2;
  $facebook-color: #3b5998;
  $close-color: #000;
  $discord-color: #7289DA;
  $whatsapp-color: #25d366;
  $gradient-start-color: #ff512f;    
  $gradient-end-color: #dd2476;    
  $icon-color: #fff;  
  $custom-black-color: rgba(0, 0, 0, 0.1);
  $translucent-White: rgba(255, 255, 255, 0.5);